{% extends 'event_app/base.html' %}

{% load static %}

{% block body_block %}

<ol class="breadcrumb">
    <li><a href="{% url 'event_app:event_list' %}">Home</a></li>
    <li class="active">Event Setup</li>
  </ol>
  
  <div class="stepwizard">
      <div class="stepwizard-row">
          <div class="stepwizard-step">
              <button type="button" class="btn btn-default btn-circle">1</button>
              <p>Event Initials</p>
          </div>
          <div class="stepwizard-step">
              <button type="button" class="btn btn-default btn-circle" >2</button>
              <p>Event Fields</p>
          </div>
          <div class="stepwizard-step">
              <button type="button" class="btn btn-primary btn-circle" >3</button>
              <p>Badge Categories</p>
          </div> 
          <div class="stepwizard-step">
              <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
              <p>Badge Layout</p>
          </div>         
      </div>
  </div>
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <h4>Step 3 - Badge Categories</h4>

  
  
          <form action="{% url 'event_app:badge_categories' event_id %}" method="POST">
            {% csrf_token %}

            <table class="points_table">
                <thead>
                <tr>
                    <th class="col-xs-3">Field Name</th>
                    <th class="col-xs-1">Show in Register</th>
                </tr>
                </thead>
                <tbody class="points_table_scrollbar">
                      {% for field in fields %}
                        <tr class="odd">
                            <td class="col-xs-3">{{ field.badge_category_code }}</td>
                            <td class="col-xs-1"><input type="checkbox" class="form-control" name="{{field.badge_category_code}}.show_in_register" {% if field.show_in_register %} checked {% endif %} ></td>
                        </tr>
                      {% endfor %}
                      
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
                </tbody>

            </table>
  
              <input type="submit" value="Next" style="width:100px" class="btn btn-success pull-right">
            
              <a href="{% url 'event_app:event_fields' event_id %}" style="width: 100px" class="btn btn-primary pull-left">Back</a>&nbsp;
          </form>
      </div>
  
  </div>
  
{% endblock %}